html {
    height: 100%;
}

body{
  background: #293749;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container{

}

#my-video {
 position: absolute;
 top:0;
 right: 0;
 width: 15%;
 height: 15%;
 background: black;
 z-index: 1;
 border: 5px solid white;
}

#their-video {
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 background: hsla(0,100%,100%,0);
 z-index: 0;
}
