html {
    height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
}

p{
  color: #FFF;
}

.container1{
  height: 100%;
  background: #293749;
  display: grid;
  grid-template:
    "header " 45%
    "main" 10%
    "footer " 45%
    /100%;
}

.main{
  text-align: center;
  grid-area: main;
  overflow:auto;
}

.header{
  font-size:32px;
  background: #23A0F2;
  text-align: center;
  grid-area: header;
}

.footer{
  font-size:24px;
  background: #23A0F2;
  text-align: center;
  grid-area: footer;
}

.container2{
  height: 100%;
  background: #293749;
}

#my-video {
 position: absolute;
 top:0;
 right: 0;
 width: 15%;
 height: 15%;
 background: black;
 z-index: 1;
 border: 5px solid white;
}

#their-video {
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 background: hsla(0,100%,100%,0);
 z-index: 0;
}
